.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.ok {
  width: 30px;
  margin-right: 10px;
}
.delete {
  width: 20px;
}
.todoInput {
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
