.navbarWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 16px;
}
.navbarWrapper h1 {
  cursor: pointer;
}
.buttonWrapper button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.buttonWrapper button:hover {
  transform: scale(1.1);
}
